<section class="hero">
  <div class="hero-container">
    <h1 class="hero-title">
      Explore the High Seas with Our Luxury Yacht Rentals
    </h1>
    <h1 class="hero-title-tablet">
      Explore the High <br />
      Seas with Our Luxury <br />
      Yacht Rentals
    </h1>
    <h1 class="hero-title-desktop">
      Explore the High Seas with <br />
      Our Luxury Yacht Rentals
    </h1>
    <p class="hero-text">
      Experience the freedom and luxury of yachting on the open seas. Choose
      from our top-of-the-line yachts and embark on an unforgettable journey
      surrounded by breathtaking views and state-of-the-art amenities.
    </p>
    <a class="hero-link" href="#rent-a-yacht">Yacht rental</a>
  </div>
</section>
