<picture class="our-yachts-item-img-container">
  <source
    media="(min-width: 1280px)"
    srcset="
      ./img/about-us/about-desktop-x1.jpg 1x,
      ./img/about-us/about-desktop-x2.jpg 2x
    "
  />
  <source
    media="(min-width: 768px)"
    srcset="
      ./img/about-us/about-tablet-x1.jpg 1x,
      ./img/about-us/about-tablet-x2.jpg 2x
    "
  />
  <source
    media="(max-width: 767px)"
    srcset="
      ./img/about-us/about-mob-1x.jpg 1x,
      ./img/about-us/about-mob-2x.jpg 2x
    "
  />
  <img
    src="./img/about-us/about-mob-1x.jpg"
    alt="adventure on a yacht under the starry sky"
    max-width="1180"
    class="about-img"
  />
</picture>
