<section class="our-yachts-section" id="our-yachts">
  <div class="container-our-yachts">
    <h2 class="our-yachts-main-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="our-yachts-list-container">
      <li class="our-yachts-list-item">
        <div class="our-yachts-item-img-container">
          <img
            src="../img/our-yachts/img-yaht.jpg"
            alt="white yacht on water"
            srcset="
              ../img/our-yachts/img-yaht.jpg    1x,
              ../img/our-yachts/img-yaht@2x.jpg 2x
            "
            class="our-yachts-item-img"
          />
        </div>
        <div class="our-yachts-item-content-container">
          <div class="our-yachts-item-content-yachtname">
            <p class="yaht-name">Arrow</p>
            <p class="yaht-class">Luxury Yahts</p>
          </div>

          <hr class="our-yachts-list-item-line" />

          <div class="our-yachts-item-contant-yahtchar">
            <ul class="yahtchar-title-list">
              <li>LENGTH</li>
              <li>BUILDER</li>
              <li>BUILT</li>
              <li>GUESTS</li>
              <li>PRICE</li>
            </ul>
            <ul class="yahtchar-value-list">
              <li>48m(155ft)</li>
              <li>Admiral</li>
              <li>2021</li>
              <li>11 in 5 cabins</li>
              <li>€33,500,000</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="our-yachts-list-item">
        <div class="our-yachts-item-img-container">
          <img
            src="../img/our-yachts/img-yaht-2.jpg"
            alt="white yacht on water"
            srcset="
              ../img/our-yachts/img-yaht-1.jpg    1x,
              ../img/our-yachts/img-yaht@2x-1.jpg 2x
            "
            class="our-yachts-item-img"
          />
        </div>
        <div class="our-yachts-item-content-container">
          <div class="our-yachts-item-content-yachtname">
            <p class="yaht-name">Benetti Oasis 40...</p>
            <p class="yaht-class">Luxury Yahts</p>
          </div>
          <hr class="our-yachts-list-item-line" />
          <div class="our-yachts-item-contant-yahtchar">
            <ul class="yahtchar-title-list">
              <li>LENGTH</li>
              <li>BUILDER</li>
              <li>BUILT</li>
              <li>GUESTS</li>
              <li>PRICE</li>
            </ul>
            <ul class="yahtchar-value-list">
              <li>41m (133ft)</li>
              <li>Benetti</li>
              <li>2025</li>
              <li>10 in 5 cabins</li>
              <li>€23,210,000</li>
            </ul>
          </div>
        </div>
      </li>

      <li class="our-yachts-list-item">
        <div class="our-yachts-item-img-container">
          <img
            src="../img/our-yachts/img-yaht-2.jpg"
            alt="white yacht on water"
            srcset="
              ../img/our-yachts/img-yaht-2.jpg    1x,
              ../img/our-yachts/img-yaht@2x-2.jpg 2x
            "
            class="our-yachts-item-img"
          />
        </div>
        <div class="our-yachts-item-content-container">
          <div class="our-yachts-item-content-yachtname">
            <p class="yaht-name">Belle Anna</p>
            <p class="yaht-class">Luxury Yahts</p>
          </div>
          <hr class="our-yachts-list-item-line" />
          <div class="our-yachts-item-contant-yahtchar">
            <ul class="yahtchar-title-list">
              <li>LENGTH</li>
              <li>BUILDER</li>
              <li>BUILT</li>
              <li>GUESTS</li>
              <li>PRICE</li>
            </ul>
            <ul class="yahtchar-value-list">
              <li>50m(155ft)</li>
              <li>ISA</li>
              <li>2012</li>
              <li>12 in 6 cabins</li>
              <li>€21,000,000</li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
    <a href="#rent" class="our-yachts-button">Yacht rental</a>
  </div>
</section>
