<section id="rent" class="section">
  <div class="rent-box">
    <div class="rent-container container">
      <h2 class="rent-title">Rent a yacht now</h2>
      <form class="rent-form">
        <div class="rent-form-container">
          <label class="rent-label" for="user-name"></label>
          <input
            class="rent-input"
            type="text"
            name="user-name"
            id="user-name"
            placeholder="Full Name"
            required
          />
          <label class="rent-label" for="user-email"></label>
          <input
            class="rent-input"
            type="email"
            name="user-email"
            id="user-email"
            placeholder="Email"
            required
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
          />
          <label class="rent-label" for="user-tel"></label>
          <input
            class="rent-input"
            type="tel"
            name="user-tel"
            id="user-tel"
            placeholder="Phone number"
            required
            pattern="^\+\d{2}-\d{3}-\d{3}-\d{2}-\d{2}$"
          />
          <label class="rent-label" for="user-comment"></label>
          <textarea
            class="rent-textarea"
            name="user-comment"
            id="user-comment"
            placeholder="Comment"
          ></textarea>
        </div>
        <button class="rent-btn" type="submit">Send</button>
      </form>
    </div>
    <picture>
      <source
        srcset="
          /img/rent-a-yacht/img-rent-desktop1440.jpg    1x,
          /img/rent-a-yacht/img-rent-desktop1440-2x.jpg 2x
        "
        media="(min-width:1440px)"
      />
      <source
        srcset="
          /img/rent-a-yacht/img-rent-desktop.jpg    1x,
          /img/rent-a-yacht/img-rent-desktop-2x.jpg 2x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          /img/rent-a-yacht/img-rent-tablet.jpg    1x,
          /img/rent-a-yacht/img-rent-tablet-2x.jpg 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          /img/rent-a-yacht/img-rent-mobile.jpg    1x,
          /img/rent-a-yacht/img-rent-mobile-2x.jpg 2x
        "
        media="(min-width:320px)"
      />
      <img
        class="rent-img"
        src="/img/rent-a-yacht/img-rent-desktop.jpg"
        width="658"
        height="534"
        alt="yacht"
      />
    </picture>
  </div>
</section>
