h1,
h2,
h3,
p {
  margin: 0;
}

body {
  background-color: #0e1823;
}

.about {
  margin: 0 auto;
  margin-bottom: 80px;
  margin-top: -60px;
}

.container-about {
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

.about-paragraph-text {
  background-color: #fbfbfb;
  padding: 40px 20px 335px 20px;
  border-radius: 24px;
  margin: 0 auto;
  width: 100%;
}

.about-title {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #1b414b;
  margin-bottom: 40px;
}

.about-paragraph-box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
}

.about-first-paragraph {
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #1b414b;
}

.about-second-paragraph {
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #040306;
  opacity: 0.4;
}

.picture-about {
  position: absolute;
  transform: translate(0px, -292px);
  width: calc(100% - 40px);
}

.about-img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 24px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .about {
    margin-top: -67px;
  }

  .container-about {
    max-width: 768px;
    width: 768px;
  }

  .about-paragraph-text {
    padding: 50px 136px 244px 32px;
    width: 704px;
  }

  .about-title {
    font-size: 48px;
    margin-bottom: 50px;
  }

  .about-paragraph-box {
    width: 389px;
  }

  .about-first-paragraph {
    font-size: 23px;
  }

  .about-second-paragraph {
    font-size: 13px;
    line-height: 1.15;
  }

  .picture-about {
    transform: translate(12px, -194px);
  }
}

@media screen and (min-width: 1280px) {
  .about {
    margin-bottom: 150px;
    margin-top: -35px;
  }

  .container-about {
    max-width: 1280px;
    width: 1280px;
  }

  .about-paragraph-text {
    display: flex;
    gap: 189px;
    padding: 50px 50px 415px 50px;
    width: 1179px;
  }

  .about-paragraph-box {
    max-width: 354px;
    padding-right: 2px;
  }

  .picture-about {
    transform: translate(30px, -338px);
  }

  .about-title {
    width: 537px;
  }
}
