/* Reset styles */

/* *,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
} */
/********************* Advantages *************************/
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  bottom: 0;
  white-space: nowrap;
  overflow: hidden;
}
.advantages {
  background-color: #040306;
  padding-bottom: 80px;
}
.advantages-container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.advantages-list {
  background-color: #1b414b;
  border-radius: 24px;
  padding: 80px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.advantages-item {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.advantages-number {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.05em;
  color: #fbfbfb;
}
.advantages-line {
  margin: 0;
  padding: 0;
  border-radius: 18px;
  background: rgba(251, 251, 251, 0.1);
  border-color: transparent;
}

.advantages-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}
.advantages-img {
  width: 100%;
  border-radius: 24px;
}
.advantages-text-br {
  display: none;
}
@media screen and (min-width: 768px) {
  .advantages {
    padding-bottom: 150px;
  }
  .advantages-container {
    max-width: none;
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    gap: 32px;
  }
  .advantages-list {
    padding: 90px 32px;
    gap: 44px 32px;
  }
  .advantages-item {
    width: calc((100% - 32px) / 2);
  }
  .advantages-number {
    font-size: 32px;
  }
  .advantages-text {
    font-size: 13px;
    line-height: 1.15;
  }
  .advantages-text-br {
    display: inline;
  }
}
@media screen and (min-width: 1280px) {
  .advantages-container {
    width: 1280px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .advantages-list-box {
    width: 716px;
  }
  .advantages-list {
    padding: 90px 50px;
    gap: 44px 32px;
  }
  .advantages-item {
    width: 292px;
  }
  .advantages-list .advantages-item:first-child {
    width: 280px;
  }
  .advantages-item-second {
    margin-left: auto;
  }
}
@media screen and (min-width: 1440px) {
  .advantages-container {
    width: 1440px;
  }
  .advantages-list-box {
    width: 768px;
  }
  .advantages-list {
    padding: 90px 50px;
    gap: 44px 32px;
  }
  .advantages-list .advantages-item:first-child {
    width: 318px;
  }
  .advantages-item {
    width: 318px;
    height: 100px;
  }
  .advantages-item-second {
    margin: 0;
  }
  .advantages-item-second {
    height: 85px;
  }
  .advantages-item-fourth {
    margin-bottom: auto;
  }
}
