.rent-section {
    margin-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

.rent-container {
    max-width: 335px;
    width: 100%;
    margin: 0 auto;
}

.rent-box {
    margin: 0 auto;
    max-width: 375px;
    width: 100%;
}

.rent-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    margin-bottom: 40px;
}

.rent-form {
    margin-bottom: 80px;
    width: 100%;
}

.rent-form-container {
    margin-bottom: 40px;
    width: 100%;
}

.rent-input {
    width: 100%;
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 12px;
    height: 42px;
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    color: #fbfbfb;
    outline: transparent;
    padding: 0 18px;
    margin-bottom: 18px;
}

.rent-input:focus, .rent-input:hover {
    border: 1px solid rgba(251, 251, 251, 0.5);
}

.rent-textarea {
    width: 100%;
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 12px;
    height: 108px;
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    color: #fbfbfb;
    outline: transparent;
    padding: 14px 18px;
    resize: none;
}

.rent-textarea:focus, .rent-textarea:hover {
    border: 1px solid rgba(251, 251, 251, 0.5);
}

.rent-btn {
    display: block;
    cursor: pointer;
    border: none;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    border-radius: 15px;
    padding: 14px 44px;
    min-width: 122px;
    height: 46px;
    background-color: #1b414b;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rent-btn:hover, .rent-btn:focus {
    background-color: #fbfbfb;
    color: #1b414b;
}

.rent-img {
    border-radius: 24px;
    margin: 0 auto;
    max-width: 335px;
    height: 412px;
    width: 100%;
}

@media screen and (min-width:768px) {

    .rent-box{
        max-width: 704px;
        width: 704px;
    }
    .rent-section {
        margin-bottom: 150px;
        padding-left: 0;
    }

    .rent-container {
        max-width: 472px;
        width: 472px;
        margin: 0 auto;
    }

    .rent-title {
        font-size: 48px;
        width: 381px;
    }

    .rent-form {
        min-width: 473px;
        margin-bottom: 100px;
    }

    .rent-form-container {
        margin-bottom: 50px;
    }

    .rent-input {
        height: 54px;
        font-size: 14px;
        line-height: 1.29;
    }

    .rent-textarea {
        height: 116px;
        font-size: 14px;
        line-height: 1.29;
    }

    .rent-btn {
        font-size: 18px;
        line-height: 1.1;
        padding: 18px 75px;
        min-width: 194px;
        height: 56px;
    }

    .rent-img {
        min-width: 704px;
        width: 704px;
        height: 534px;
    }

    .rent-box{
        max-width: 704px;
        width: 704px;
        margin: 0 auto;
        padding: 0;
    }
}

@media screen and (min-width:1280px) {
    .rent-box {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 50px;
        flex-direction: row-reverse;
        width: 1180px;
        padding-left: 0;
        max-width: 1180px;
    }

    .rent-form {
        width: 472px;
        margin-bottom: 0;
    }

    .rent-container {
        width: 472px;
        margin: 0;
        padding: 0;
    }

    .rent-img {
        min-width: 658px;
        height: 536px;
        padding: 0;
    }

    
}

@media screen and (min-width:1440px) {
    .rent-box {
        max-width: 1290px;
        width: 1290px;
        padding-left: 0;
    }


    .rent-img {
        min-width: 768px;
        height: 536px;
    }
}