.reviews-section {
  max-width: 1240px;
  background-color: #0e1823;
  margin: 0 auto;
}
@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .reviews-section {
    width: 1180px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .reviews-section {
    max-width: 704px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .reviews-section {
    width: 375px;
    height: 689px;
  }
}
@media screen and (min-width: 320px) and (max-width: 374px) {
  .reviews-section {
    width: 375px;
    height: 689px;
  }
}
.reviews-container {
  max-width: 1240px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 150px 0px;
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .reviews-container {
    width: 1180px;
    padding: 150px 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .reviews-container {
    max-width: 704px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .reviews-container {
    width: 335px;
    padding: 80px 0px 80px 0px;
  }
}
@media screen and (min-width: 320px) and (max-width: 374px) {
  .reviews-container {
    width: 375px;
    padding: 80px 0px 80px 0px;
  }
}
.reviews-box {
  width: 854px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 75px;
  gap: 25px;
}
@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .reviews-box {
    width: 854px;
    height: 205px;
    gap: 25px;
    margin: 0 163px 75px 163px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .reviews-box {
    width: 704px;
    height: 205px;
    gap: 25px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .reviews-box {
    width: 335px;
    height: 207px;
    margin-bottom: 40px;
    gap: 25px;
  }
}
.reviews-title {
  width: 854px;
  height: 144px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
}
@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .reviews-title {
    font-size: 48px;
    text-align: center;
    color: #fbfbfb;
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .reviews-title {
    width: 704px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .reviews-title {
    width: 335px;
    height: 140px;
    font-size: 28px;
  }
}

.reviews-description {
  width: 571px;
  height: 36px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  opacity: 0.4;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .reviews-description {
    font-size: 12px;
    width: 335px;
    height: 42px;
  }
}

.reviews-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 32px;
  width: 1240px;
  margin: auto;
}
@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .reviews-list {
    width: 1180px;
    gap: 26px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .reviews-list {
    width: 704px;
    width: calc((100% -52) / 3);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .reviews-list {
    width: 335px;
  }
}
.reviews-items,
.reviews-items-one,
.reviews-items-two {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  border-radius: 24px;
  padding: 32px 8px;
  width: 392px;
  background: #fbfbfb;
}
@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .reviews-items,
  .reviews-items-one,
  .reviews-items-two {
    padding: 32px 28px;
    width: 376px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .reviews-items,
  .reviews-items-one {
    padding: 32px 8px;
    width: 336px;
  }
  .reviews-items-two {
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .reviews-items {
    padding: 32px 8px;
    width: 335px;
  }
  .reviews-items-one,
  .reviews-items-two {
    display: none;
  }
}
.reviews-foto {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  border-radius: 72px;
  padding: 12px;
  width: 56px;
  height: 56px;
  background: url('path_to_image');
}
.reviews-h3 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #040306;
}
.reviews-text {
  width: 296px;
  height: 110px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(4, 3, 6, 0.4);
}
.reviews-text-two {
  width: 293px;
  height: 110px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(4, 3, 6, 0.4);
}
