/********************* Reviews *************************/
.reviews-section {
  padding-bottom: 80px;
}
.reviews-container {
  min-width: 320px;
  max-width: 375px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.reviews-box {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.reviews-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
}
.reviews-description {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  opacity: 0.4;
}
.reviews-items {
  background-color: #fbfbfb;
  border-radius: 24px;
  padding: 32px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.reviews-items-one,
.reviews-items-two {
  display: none;
}
.reviews-foto {
  border-radius: 72px;
  background-color: url('path_to_image');
  margin-bottom: 24px;
}

.reviews-h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #040306;
  margin-bottom: 8px;
}
.reviews-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(4, 3, 6, 0.4);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .reviews-section {
    padding-bottom: 150px;
  }
  .reviews-container {
    max-width: none;
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    gap: 75px;
  }
  .reviews-title {
    font-size: 48px;
  }
  .reviews-description {
    font-size: 14px;
    line-height: 1.28571;
    width: 571px;
  }
  .reviews-list {
    display: flex;
    gap: 32px;
  }
  .reviews-items-one {
    background-color: #fbfbfb;
    border-radius: 24px;
    padding: 32px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1280px) {
  .reviews-container {
    width: 1280px;
    padding-left: 50px;
    padding-right: 50px;
    gap: 75px;
  }
  .reviews-box {
    width: 854px;
    height: 205px;
  }
  .reviews-list {
    gap: 26px;
  }
  .reviews-items-two {
    display: flex;
    background-color: #fbfbfb;
    border-radius: 24px;
    padding: 32px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1440px) {
  .reviews-container {
    width: 1440px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .reviews-list {
    gap: 32px;
  }
  .reviews-items,
  .reviews-items-one,
  .reviews-items-two {
    padding: 32px 36px;
  }
}
